<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWg6gxCzaWul1PUmawHR3NkqX2-KS6RIY</string>
	<key>GCM_SENDER_ID</key>
	<string>550758220374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.mylanguageapp</string>
	<key>PROJECT_ID</key>
	<string>languageapp-86a62</string>
	<key>STORAGE_BUCKET</key>
	<string>languageapp-86a62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550758220374:ios:3ed42fd2459385f04431f7</string>
</dict>
</plist>